html,
body {
    margin: 0;
    min-height: 100vh;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    padding: 15px 0;
    text-align: center;
    font-size: 0.85rem;
    color: #B60A0A;
    opacity: 0.7;
}
