html,
body {
    overflow: hidden;
    min-height: 100vh;
    margin: 0;
}

.page {
    font-family: var(--font-inter) , sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background : radial-gradient(#DADADA, #E6E6E6);
    color:#000000
}